.title {
    margin: 0 auto;
    width: 60%;
    text-align: center;
    background-color: #27d9e7;
    border-radius: 25px;
}
/*
    Header style
*/
.brand-logo {
    width: 50px;
    height: 50px;
    background: url(../images/default/logo-fr.png) center no-repeat;
    background-size: cover;
}
.brand-text {
    color: #fff;
    font-size: 30px;
    font-weight: 900;
    position: relative;
}
.green-cross {
    border: 3px solid #17aa1c;
    z-index: 2000;
    top: 0;
    width: 100%;
    position: fixed;
}
.navbar {
    border: none!important;
}
.navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
    background: linear-gradient(to top, rgba(255,0,0,0), rgba(0, 0, 0,0.99));
}
.navbar-brand {
    margin-top: 10px;
    padding: 10px;
}
.my-navbar-head {
    background: linear-gradient(to top, rgba(255,0,0,0), rgba(0, 0, 0, 0.99));
    min-height: 85px;
}
.my-navbar-right {
    float: right !important;
}
li {
    list-style: none;
    list-style-type: disc;
}
.my-navbar-right li {
    display: inline;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 5px;
}
.my-navbar-right>li>a {
    color: white !important;
    background-color: inherit !important;
}
.my-navbar-right>li>a:hover {
    border-bottom: 4px solid #eee !important;
}
.header-option {
    color: white !important;
    background-color: inherit !important;
    line-height: 20px;
    font-size: 20px;
}
ul>li>a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.navbar-collapse {
    max-height: 100px;
    padding-right: 0px;
    padding-left: 0px;
    width: auto;
    box-shadow: none;
}
.navbar-collapse.collapse {
    display: block!important;
    height: auto!important;
    padding-bottom: 0;
    overflow: visible!important;
}
.dropdown-user-menu {
    position: absolute!important;
}
/*
    Wrapper style
*/
.wrraper {
    margin-top: 100px;
}
/*
    Modal Auth Style
*/
.modal-title {
    text-align: center;
    margin: 0;
    color: #355368;
    font-size: 24px;
    padding: 10px 0;
}
.modal-content {
    min-width: 700px;
}
.social-login {
    cursor: pointer;
    display: inline-block;
    width: 270px;
    height: 50px;
    border-radius: 5px;
    margin: 30px 0px auto 20px;
}
.social-login.fb {
    background-color: #2b85c3;
}
.social-login.gg{
    background-color: #d03a3c;
}
.social-login.tw {
    background-color: #1dcaff;
}
.social-login i {
    color: white;
    padding: 15px 0 15px 5px;
    display: inline-block;
    font-size: 20px;
    margin-right: 10px;
    width: 50px;
    text-align: center;
    font-weight: 400;
}
.heading {
    text-align: center;
    margin: 0;
    color: #fff;
    font-size: 35px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 1.3px;
    padding-bottom: 15px;
}
.subhead {
    color: #fff;
    font-size: 24px;
    margin-bottom: 30px;
    line-height: 1;
    font-weight: 200;
}
.formbox {
    margin-bottom: 50px;
}
.search-inp-container .input-group-addon {
    background-color: #1376d7!important;
}
.glyphicon-search {
    color: white;
}
.gridbottombox {
    margin-top: 0px;
}
.endbox span {
    color:blue;
    cursor:pointer;
}
.col-md-4 {
    color: #fff;
    opacity: 0.8;
    font-size: 16px!important;
    text-align: left;
    line-height: 1.43!important;
}
.col-md-4 i {
    margin-right: 20px;
    font-size: 30px;
    float: left;
}
.modal-title {
    text-align: center;
    margin: 0;
    color: #355368;
    font-size: 24px;
    padding: 10px 0;
}
.box-left {
    border-right: 1px solid black;
}
.box-separator {
    background: #d3d3d3;
    width: 1px;
}
.last-element {
    padding-right: 20px;
    margin-right: 20px;
}
input[class=search-box] {
    width: 180px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 30px;
    font-size: 16px;
    background-color: #FAFAFA;
    background-image: url('images/default/searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
input[class=search-box]:focus {
    width: 300px;
    outline: none;
}
.footer {
    background: #cc580c;
    margin-top: 120px;
    position: relative;
}
.footer p {
    color: #fff;
    font-size: 13px;
    line-height: 24px;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
}
.footer a, .footer a:hover {
    color: #fff;
}
.gototop {
    display: inline-block;
    width: 60px;
    height: 60px;
    background: #fff;
    position: absolute;
    margin-left: -30px;
    top: -35px;
    border-radius: 50%;
}
a, a:hover {
    text-decoration: none;
}
.gototop i {
    color: #cc580c;
    line-height: 70px;
}
.footer ul {
    margin: 0 auto;
    margin-bottom: 30px;
    margin-top: 40px;
    text-align: center;
    list-style-type: none;
    padding-left: 0;
}
.footer ul li {
    display: inline-block;
    text-align: center;
    background: rgba(0,0,0,0.2);
    color: #ffffff;
    line-height: 45px;
    margin: 0 4px 0px;
    width: 45px !important;
    height: 45px !important;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
.footer ul li a {
    color: #fff;
    width: 42px !important;
    height: 42px !important;
}
.footer ul li a i {
    margin-left: 13px;
    position: absolute;
    line-height: 45px;
    color: #fff;
}
.circle {
    border-radius: 50%;
}
.small {
    height: 50px;
    width: 50px;
}
.page-content {
    min-height: 500px;
}
.page-content .content-section {
    margin-top: 150px;
}
